<%= form_with(model: @tsubuyaki, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @tsubuyaki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tsubuyaki.errors.count, "error") %> prohibited this tsubuyaki from being saved:</h2>

      <ul>
      <% @tsubuyaki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="tsubuyaki_content">
    <%= form.label :"今どうしている？" %>
    <%= form.text_area :content, :size=>"100x5"  %>
  </div>
  <div class="actions">
    <%= form.submit  "つぶやく" %>
  </div>
<% end %>
